{% load static %}

<!DOCTYPE html>
<html lang="en">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
        </style>
<head>
    <meta charset="UTF-8">
    <title>Text Images</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
      </script>
</head>
<body>
    <h1 class="center">Word Segmentation </h1>
       <div class="col-md-4">
           <img src="{% static 'text_segmentation/img_word.png' %}" class="center" style="height:500px; width:1500px; padding-left: 200px;" />
        </div>
</body>
</html>
